<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1>Contact</h1>
    <p class="lead">Use the form below to send us a message or give us a call at <b>(504) 407-1577</b>.</p>
  </div>
</div>

<form role="form" method="post" action="/contact">
  <div class="form-group<%= form.failed_on?(:subject) ? ' has-error' : '' %>">
    <label for="subject" class="control-label">Subject</label>
    <input type="text" class="form-control" id="subject" name="subject" placeholder="The Subject" value="<%=h params[:subject] || '' %>">
    <% if form.failed_on?(:subject) %>
      <span class="help-block">A Subject was not entered.</span>
    <% end %>
  </div>
  <div class="form-group<%= form.failed_on?(:email) ? ' has-error' : '' %>">
    <label for="email" class="control-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address" value="<%=h params[:email] || '' %>">
    <% if form.failed_on?(:email) %>
      <span class="help-block">A valid Email was not entered.</span>
    <% end %>
  </div>
  <div class="form-group<%= form.failed_on?(:message) ? ' has-error' : '' %>">
    <label for="message" class="control-label">Message</label>
    <textarea class="form-control" rows="3" id="message" name="message" placeholder="Your Message"><%=h params[:message] || '' %></textarea>
    <% if form.failed_on?(:message) %>
      <span class="help-block">A Message was not entered.</span>
    <% end %>
    <div class="hide">
      <input type="title" class="form-control" id="title" name="title" placeholder="Title" value="">
    </div>
  </div>

  <button type="submit" class="btn btn-default">Send Message</button>
</form>