<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/jpeg" href="img/layout/logo.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mike's Showroom Service</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mss.css?version=1.2" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h3 class="muted pull-right">
          <img src="/img/layout/logo.jpg" alt="Mike's Showroom Service" class="logo" />
          Mike's Showroom Service
        </h3>

        <ul class="nav nav-pills">
          <li<%= ' class="active"' if request.path == '/' %>><a href="/">Home</a></li>
          <li<%= ' class="active"' if request.path == '/services' %>><a href="/services">Services</a></li>
          <li<%= ' class="active"' if request.path == '/packages' %>><a href="/packages">Packages</a></li>
          <li><a href="https://www.facebook.com/MikesShowroomService/photos_albums" target="_blank">Work</a></li>
          <li<%= ' class="active"' if request.path == '/contact' %>><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <%= yield %>

      <div class="footer">
        <p>&copy; Mike's Showroom Service 2014-2015 &mdash; <b>(504) 407-1577</b></p>

        <div class="fb-like" data-href="https://www.facebook.com/MikesShowroomService" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
      </div>

    </div> <!-- /container -->

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous
              </button>
              <button type="button" class="btn btn-primary next">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Facebook script -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <% if settings.production? %>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47056854-1', 'mikesshowroomservice.com');
      ga('send', 'pageview');
    </script>
    <% end %>

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.blueimp-gallery.min.js"></script>
    <script src="js/bootstrap-image-gallery.js"></script>
  </body>
</html>
